@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,500&family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/*header starts here */

header {
    width: 100%;
    display: flex;
}
#cloud {
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

}

/*Nav bar configuration starts here*/

nav {
    font-family: 'Alegreya Sans';
    position: absolute;
    top: 25vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    border-bottom: 1px solid #4422a198;
    box-shadow: 0px 2px 10px #4422A1;
    overflow:auto;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FA591E;

}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #FFE3D9;
    text-align: center;
    padding: 15px;
    margin-left: 2vw;
    text-decoration: none;

}

nav ul li a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: hsl(16, 96%, 30%);
}


#a1 {
    animation-name: nav-slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#a2 {
    animation-name: nav-slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

#a3 {
    animation-name: nav-slide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

#a4 {
    animation-name: nav-slide;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#a5 {
    animation-name: nav-slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes nav-slide {
    from {
        position: relative;
        left: 100vw;       
    }

    to {
        position: relative;
        left: 0;
    }
}
/*Nav bar configuration ends here*/

#float-img {
    width: 50%;
    position: absolute;
    top: 11%;
    right: 8%; 
    border: 2px solid #4422A1;
}
.page-title {
    color: hsl(16, 96%, 55%);
    font-family: 'Bangers', cursive;
    text-shadow: 2px 5px black;
    padding: auto 2vw;
    
}

.appheading-2 {
    text-align: left;
}

h1 {
    color: #4422A1;
    padding-top: 5vw;

}

h2 {
    padding-top: 1vw;
    color: hsl(256, 65%, 65%);
    margin-bottom: -.1em;

}

body {
    background-color: #FCB49A;
    font-family: 'Hina Mincho';
}

.boxed-content {
    border: 1px solid #FA591E;
    width: 30vw;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 2px 3px gray;
    background-color: #FA591E;
}

.boxed-content h3 {
    display: block;
    padding: 10px;
    color: white;
    background-color: #FA591E;
}

.boxed-content p {
    display: none;
    width: 100%;
    color: black;
}

.boxed-content:hover p{
    display: block;
    width: fit-content;
    outline: 1px solid rgba(255, 255, 255, 0.534);
    border: 1px solid #FA591E;
    color: #FA591E;
    background-color: white;
    margin: -11px;
    padding: 1em;

    
}

@media (max-width: 1200px){
    #apply-img{
        display: none;
    }
  
}

@media (max-width: 1000px) {

    #cloud {
        display: none;
    }

}

@media (max-width: 600px) {

    .text-css {
        padding-top: 10vw;
    }
    
}

/*Services Starts here*/

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 4px solid #FCB49A;
    text-align: left;
}
tr:nth-child(even) {

    background-color:#FA591E;
}
.activities {
    background-color:white;
    color:#4422A1;
    border: 10px solid #4422A1;
    margin: 20px 80px 5px 5px;
    padding: 15px;
    
}

  
    
.img1 {
    float: right;
}
.p {
    text-align: center;
    
}
.img2 {
    float: right;
}
.A1 {
    text-align: center;
}

.img3 {
    float: right;
}



.activities {
    background-color:white;
    border: 31px solid #4422A1;
    margin: px;
    padding: px;
}



/*Configuration Services ends here*/

/*catskill img configuration starts here*/
.catskillimg {
    width: 50vw !important;
}
.preferredcontact{
    text-decoration: hotpink;
}



/*Footer configuration starts here*/
.space2 {
padding-top: 10px;
}
.footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
color: black;
text-align:center;
padding: 5px;
}

/*Footer configuration ends here*/

/*Configuration for About us and Testimonies starts here */
.content-background {
    position: absolute;
    left: 0;
    top: 30vh;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/11/17/22/15/trees-3822149__480.jpg");
}
.indexcontent {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #FCB49A;
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.2em;
    padding-bottom: 1vw;
}
.indexrow {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.side1 {
    width: 40%;
    float: left;
    text-align: left;
}
.side2 {
    width: 60%;
    float: right;
    text-align: left;
    font-size: 120%;
}

.HeadTeam {
    padding: 5vh;
    text-align: center;
}

#header {
    padding: 30vh;
    text-align: center; 
}
.empty {
    padding-top: 20vh;
    margin: 20vh;
}

#prueba1 {
    color: green;
}
 #prueba2 {
     color: green;
     text-align: center;
     font-size: 300%;
 }
/*Configuration for About us and Testimonies ends here */
