/*header starts here */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*Nav bar configuration starts here*/

nav {
    position: absolute;
    top: 25vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FA591E;

}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #FFE3D9;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

nav ul li a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: hsl(16, 96%, 30%);
}


#a1 {
    animation-name: nav-slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#a2 {
    animation-name: nav-slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

#a3 {
    animation-name: nav-slide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

#a4 {
    animation-name: nav-slide;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#a5 {
    animation-name: nav-slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes nav-slide {
    from {
        position: relative;
        left: 100vw;       
    }

    to {
        position: relative;
        left: 0;
    }
}
/*Nav bar configuration ends here*/

h1 {
    color: #4422A1;
    padding-left: 3vw;
    padding-top: 1vw;
}

h2 {
    color: hsl(256, 65%, 65%);
}

body {
    background-color: #FCB49A;
}

.content-1 {
    position: absolute;
    left: 0;
    top: 30vh;
    width: 100%;
    background-color: white;
}

.text-css {
    padding-left: 3vw;
}

#app-form {
    display: table;
    width: 10vw;
    table-layout: fixed;
}

#app-form input {
    margin-top: 3px;
}

/*Services Starts here*/

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 4px solid #FA591E;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #FFE3D9;
}



    .activities {
        background-color: #FCB49A;
        color: white;
        border: 3pxsolid black;
        margin: 15px;
        padding: 15px;
    }


  /*Configuration Services ends here*/
<<<<<<< HEAD
    padding: 10px;
=======
  }


>>>>>>> ef648b60f4e92f1ca07f5121e43c76baf9b211da

<<<<<<< HEAD
.activities {
    background-color: #FCB49A;
    color: white;
    border: 3pxsolid black;
    margin: 15px;
    padding: 15px;
}
/*Configuration Services ends here*/
=======


>>>>>>> ef648b60f4e92f1ca07f5121e43c76baf9b211da

/*Footer configuration starts here*/
.space2 {
padding: 40px;
}
.footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
color: black;
text-align:center;
padding: 5px;
}
/*Footer configuration ends here*/

/*Configuration for About us starts here */

