
/*Nav bar configuration starts here*/

nav {
    overflow: hidden;
    margin: 3vh auto;
    width: 90vw;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

nav a {
    color: black;
    text-decoration: none;
    flex: 1 1 auto;
    overflow: hidden;
}

.dropdown {
    color: black;
    text-decoration: none;
    flex: 1 1 auto;
}

a:hover {
    background-color: #B4B1BD;
}

nav ul li {
    border: 1px solid white;
    background-color: #FA591E;
    
}

nav ul li:hover {
    background-color: #FCB49A;
}

.dropdown {
    background-color: #FA591E;
}


.apply-list {
    display: none;
    position:absolute;
    left: 38vw;
    right:38vw;
    background-color: #FA591E;
}

.dropdown:hover .apply-list {
    display: block;
}


.apply-list a {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    background-color: #FA591E;   
}
/*Nav bar configuration ends here*/
h1 {
    color: #FA591E;
}

body {
    background-color: #FCB49A;
}

.content-1 {
    padding: 3vw 5vh;
    width: 90vw;
    margin: auto;
    background-color: white;
    box-shadow: inset 10px 10px 5px #FFE3D9;
}

#app-form {
    display: table;
    width: 10vw;
    table-layout: fixed;
}

#app-form input {
    margin-top: 3px;
}

#Activities {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#Activities td, #Activities th {
    border: 3px solid black;
    padding: 8px;
}

#Activities tr:nth-child(even){background-color: aquamarine;}
#Activities tr:hover {background-color: coral;}

#Activities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }